# Capstone Project
### Segmenting and Clustering Neighborhoods in Toronto task 2


# Data preparation

In [17]:
import pandas as pd
import numpy as np

url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(url)
df_codes = tables[0]
df_codes =  df_codes[df_codes.Borough != 'Not assigned']
df_new = df_codes.groupby('Postcode',as_index=False).aggregate({'Borough':'first','Neighborhood':', '.join}).reindex(columns=df_codes.columns)
df_new.loc[df_new['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_new.loc[df_new['Neighborhood'] == 'Not assigned', 'Borough']
df_new.head()
#df_new.shape

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [18]:
url = 'http://cocl.us/Geospatial_data'
df_coo = pd.read_csv(url)
df_coo.rename(columns={'Postal Code':'Postcode'},inplace=True)
df_coo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [19]:
pd_final = pd.merge(df_new,df_coo,how = 'left',on='Postcode')
pd_final.head(100)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery, Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242